html {
  margin: 1%;
}

button.showHover{
  visibility: hidden;
}

tr:hover button.showHover{ 
  visibility: visible;
}

td {
  vertical-align: middle !important;
}

#heading {
  margin-bottom: 2%;
}

.menu-row {
  margin-bottom: 1%;
}